.btn-primary,.btn-danger{
    background-color: #F3450F !important;
}
.bg-danger{
    background-color: #ffffff !important;
    border: 1.5px solid black;
    padding: 1%;
}
.ms-3{
    margin-left: -13px !important;
    padding: 1.3%;
}
.page-link
{
    color: #F3450F !important;
}
.mb{
    margin-bottom:-15px ;
}
.border-danger{
    border-color: #F3450F !important ;
   
}